header
  h1.logo Scapa System
  
  nav
    ul
      li: a(href="#about") About
      li: a(href="#about") Feasibility
      li: a(href="#about") Survey Design
      li: a(href="#about") Acquisition
      li: a(href="#about") Processing & Inversion
      li: a(href="#about") Visualisation
      li: a(href="#about") Contact
      
  a(href="mailto: craigmclarke@gmail.com").email-link +email-me
