header
  
  .header-position
    
    h1.logo Scapa System
    
    nav.site-nav
      ul
        li: a(href="#about") About
        li: a(href="#feasibility") Feasibility
        li: a(href="#survey-design") Survey Design
        li: a(href="#acquisition") Acquisition
        li: a(href="#processing") Processing
        li: a(href="#visualisation") Visualisation
        li: a(href="#contact") Contact
        
    a(href="http://www.pgs.com/Geophysical-Services/Towed-Streamer-EM/").web-link Visit PGS
